@font-face {
    font-family: paypal;
    src: url(../fonts/paypal_std.woff);
}

@font-face {
    font-family: paypal;
    src: url(../fonts/paypal_bold.woff);
    font-weight: bold;
}

body {
  padding: 50px;
  font-family: paypal !important;
}

a {
  color: #00B7FF;
}

.collapse-text-toggle {
    font-size: 0.9em;
    color: #003087;
    cursor: pointer;
}
.collapse-text-toggle:hover {
    color: #009CDE;
}
.collapse-text-toggle:before {
    content: '\00a0';
}
.collapse-text-toggle:after {
    content: '';
}

.paypal .col-head{
    height: 60px;
    background-color: #009CDE;
    color: white;
    padding: 10px;
    font-size: 1.7em;
 }

 .paypal .col-head-alt{
    background-color: #003087;
 }

 .ebay .col-head{
    height: 80px;
    background-color: #3071A9;
    color: white;
    padding: 10px;
    font-size: 1.7em;
 }

 .ebay .col-head-alt{
    background-color: #5bc0de;
 }

 .response-list{
 	height: 450px;
 	overflow-y:scroll;
 }



.legendItem{
        border-radius: 18px;
        border-style: solid;
        border-color: white;
        padding: 8px;
        margin: 5px;
        width: 165px;
        height: 40px;
        cursor:pointer;
        float: left;
    }
 

.legend-selected {

   border-color: rgb(104,104,104) ; 
}


.nvd3 text{
    fill: white !important;
    font-family: paypal !important;
    font-size: 25px !important;
}