@font-face {
    font-family: paypal;
    src: url(../fonts/paypal_std.woff);
}

@font-face {
    font-family: paypal;
    src: url(../fonts/paypal_bold.woff);
    font-weight: bold;
}

body {
  padding: 50px;
  font-family: paypal !important;
}

a {
  color: #00B7FF;
}

  