<% include header %>

    <main>
        <div class="jumbotron">
            <h1>Journal App</h1>
            <p>Create, edit, and enjoy awesome Journal questions.</p>
        </div>
    </main>

<% include footer %>