<% include header %>

<script type="text/javascript">
    var qid = '<%= qid %>';
</script>

<!-- SET THE CONTROLLER AND GET ALL TODOS -->
<main ng-app="journalQuestion">

    <script src="/js/question.js"></script>

    <style type="text/css">
    #coverUp{
        position: absolute;
        top: 0px;
        width: 680px;
        left: 320px;
        height: 550px;
        background-color: rgba(207,207,207,.5); 
        z-index: 1000;
    }

    .greyed-out{
        background-color: rgb(237,237,237); 
    }

    .circle{
        display:inline-block; 
        border-radius: 50%;
        width: 14px;
        height: 14px;
    }



        .select-item{
            display:block; 
            width:100%; 
            margin-left:20px; 
            cursor:pointer;
        }
        .dark-hr { display: block; height: 1px;
            border: 0; border-top: 1px solid #ccc;
            margin: 1em 0; padding: 0; }
            body{
                padding: 0px;
            }

            .btn-paypal{
                background-color: #FF8F1C;
                color: white;
                height: 44px;
                width: 225px;
                font-size: 14px;
            }
            .btn-paypal:hover{
               color: white;
                font-size: 15px;
            }

              .btn-ebay{
                background-color: #F5AF02;
                color: white;
                height: 44px;
                width: 225px;
                font-size: 14px;
            }
            .btn-ebay:hover{
               color: white;
                font-size: 15px;
            }

        </style>
        <div ng-controller="mainController">
            <div class="container-fluid {{ question.group }}"  style="height:550px;">
               <div class="row" style="height:550px;">
                   <div class="col-sm-4 " id="side_bar" ng-class="{responded: 'greyed-out'}" style="height:550px;" >
                     <div id="response-form" class="row">
                        <div class="col-sm-12" >
                            <h3>{{ question.text }}</h3>
                            <span ng-show="responded"><small>Filter by location:</small></span>
                            <button ng-if="question.type =='pie'" class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseLocation" aria-expanded="false" aria-controls="collapseExample">
                                  <span class='pull-left' ng-bind="activeLocation"></span> <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span> 
                              </button>

                              <hr class="dark-hr" ng-hide='responded'>
                              <div class="collapse" id="collapseLocation">
                              <span ng-hide='!responded' data-toggle="collapse" data-target="#collapseLocation" ng-click='locationSelected("All")' class="select-item">All<hr class="dark-hr"></span>
                                  <span ng-repeat="location in question.locations" data-toggle="collapse" data-target="#collapseLocation" ng-click='locationSelected(location)' class="select-item">{{ location }}<hr class="dark-hr"></span>
                              </div>
                            <form class="" ng-hide='responded'>
                                

                              <button  class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-disabled='!loc_selected && (question.type == "pie")'>
                                  <span class='pull-left {{formData.category|classy}}' ng-bind="formData.category"></span> <span class="glyphicon glyphicon-menu-down pull-right {{formData.category|classy}}" aria-hidden="true"></span> 
                              </button>

                              <hr class="dark-hr">
                              <div class="collapse" id="collapseExample">
                                  <span ng-repeat="category in question.categories" data-toggle="collapse" data-target="#collapseExample" ng-click='categorySelected(category)' class="select-item {{category|classy}}">{{ category }}<hr class="dark-hr"></span>
                                  
                                  
                              </div>
                              <div class="form-group ">
                                <textarea ng-disabled="!cat_selected" class="form-control input-lg" style="height:80px;" placeholder="Optional" ng-model="formData.text"></textarea>
                                <br>

                                <button type="submit" ng-disabled="!cat_selected" class="btn btn-{{question.group}}" style="" ng-click="createResponse()">Submit</button>

                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control  text-center"  ng-model="formData.question">
                                <input type="hidden" class="form-control  text-center"  ng-model="formData.learner">
                                <input type="hidden" class="form-control  text-center"  ng-model="formData.group">
                            </div>

                        </form>

                    </div>
                </div>

                <div id="response-list" class="row" >
                    <div class="col-sm-12 {{response.category|classy}}" ng-show='responded' style="height:375px; overflow-y:scroll;">
                        <table class="table {{response.category|classy}}">
                            <tr class="{{response.category|classy}}" ng-repeat="response in responses | catFilter:activeCategory | locFilter:activeLocation" ng-if="response.text.length > 0">
                                <td>
                                    <span style="display:block; width:100%; height: 25px">
                                        <span class='pull-left'><h4>{{response.category}}</h4></span>
                                        <span class='pull-right' style="cursor:pointer;"><h4 style="vertical-align:middle;">{{ response.votes }} 
                                            <span class="glyphicon {{ response.icon? response.icon : 'glyphicon-plus' }}" aria-hidden="true" id="vote_{{response._id}}" ng-click='vote(response)' ></span></h4></span> 
                                        </span>
                                        <hr>
                                        <p>{{ response.text }}</p>
                                         <span class='pull-left' ><small>{{ response.location }}</small></span>
                                        <span class='pull-right' style="cursor:pointer;">
                                            <span class="text-{{ response.flags==0? 'muted' : 'danger' }} glyphicon glyphicon-flag" aria-hidden="true" id="flag_{{response._id}}" ng-click='flag(response)' ></span></span> 
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-8" style="height:550px;">
                <div class="row">
                <div class="col-sm-12">
                    <div class="legendItem" ng-repeat='category in question.categories' ng-click="legendClick(category)" ng-class="{'legend-selected':  activeCategory==category }"><span class="circle {{category|classy}}-bg" ></span> {{category}}</div>
                    <div class="legendItem" ng-click="legendClick('all')" ng-class="{'legend-selected':  activeCategory=='all' }"><span class="circle all-bg" ></span> All</div>

                </div>
                </div>
                    <div ng-if="question.type == 'pie'" id='pieHolder' style="height:460px; overflow:hidden" >
                        <nvd3-pie-chart
                            data="pieData"
                            id="responseChart"
                            width="510"
                            height="510"
                            x="xFunction()"
                            y="yFunction()"
                            showLegend="false"
                            legendradiobuttonmode = "false"
                            pieLabelsOutside="false"
                            showLabels="true"
                            donut="true"
                            donutRatio=".40"
                           labelType="value"
                           legendColor="colorFunction()"
                            color="colorFunction()">
                            <svg></svg>
                        </nvd3-pie-chart>
                    </div>
                    <div ng-if="question.type == 'bar'" id='pieHolder' style="height:510px;">
                        <nvd3-discrete-bar-chart
                            data="pieData"
                            id="responseChart"
                            width="550"
                            height="550"
                            x="xFunctionBar()"
                            y="yFunctionBar()"
                            showValues="true">
                                <svg></svg>
                        </nvd3-discrete-bar-chart>

                </div>

            </div>
        </div>
    </div>
<div id='coverUp' ng-hide="responded"></div>
</div>
</main>

<% include footer %>
